h1{
	color: darkred  ;
}
.black{background-color: black;}

h2{
	color: darkblue;
	background-color: black;
	border: 5px solid darkblue;
} 
h3{
	color: darkblue;
	background-color: black;
	border: 5px solid darkblue;
}
#big_font{
	font-size: 25px;
}
.box{
	width: 500px;
	height: 200;
	background-color: darkred;

}